<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glucose Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <a href="/login">
                <button class="auth-button">Sign in with Auth0</button> <!-- Separate class for Auth button -->
            </a>
        </div>
        <h1>DexVal</h1>
        <div class="stat mgdl">
            <div class="label">Current Glucose:</div>
            <div class="value">{{ current_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Current Glucose:</div>
            <div class="value">{{ current_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat">
            <div class="label">Glucose State:</div>
            <div class="value">{{ glucose_state_mdgl }}</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Average Glucose:</div>
            <div class="value">{{ average_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Average Glucose:</div>
            <div class="value">{{ average_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Median Glucose:</div>
            <div class="value">{{ median_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Median Glucose:</div>
            <div class="value">{{ median_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Standard Deviation:</div>
            <div class="value">{{ stdev_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Standard Deviation:</div>
            <div class="value">{{ stdev_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Minimum Glucose:</div>
            <div class="value">{{ min_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Minimum Glucose:</div>
            <div class="value">{{ min_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Maximum Glucose:</div>
            <div class="value">{{ max_glucose_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Maximum Glucose:</div>
            <div class="value">{{ max_glucose_mmol }} mmol/L</div>
        </div>
        <div class="stat mgdl">
            <div class="label">Glucose Range:</div>
            <div class="value">{{ glucose_range_mgdl }} mg/dL</div>
        </div>
        <div class="stat mmol" style="display: none;">
            <div class="label">Glucose Range:</div>
            <div class="value">{{ glucose_range_mmol }} mmol/L</div>
        </div>
        <div class="stat">
            <div class="label">Coefficient of Variation (%):</div>
            <div class="value">{{ coef_variation_percentage }}</div>
        </div>
        <div class="stat">
            <div class="label">Glycemic Variability Index:</div>
            <div class="value">{{ glycemic_variability_index }}</div>
        </div>
        <div class="stat">
            <div class="label">Estimated A1C:</div>
            <div class="value">{{ estimated_a1c }}</div>
        </div>
        <div class="stat">
            <div class="label">Time in Range (%):</div>
            <div class="value">{{ time_in_range_percentage }}</div>
        </div>
        <div class="button-container">
            <button class="toggle-button" onclick="toggleUnits()">Switch to mmol/L</button>
        </div>
    </div>

    <script>
        function toggleUnits() {
            var mgdlElements = document.querySelectorAll('.mgdl');
            var mmolElements = document.querySelectorAll('.mmol');
            var button = document.querySelector('.toggle-button');

            mgdlElements.forEach(function(element) {
                element.style.display = element.style.display === 'none' ? '' : 'none';
            });

            mmolElements.forEach(function(element) {
                element.style.display = element.style.display === 'none' ? '' : 'none';
            });

            if (button.innerText === 'Switch to mmol/L') {
                button.innerText = 'Switch to mg/dL';
            } else {
                button.innerText = 'Switch to mmol/L';
            }
        }
    </script>
</body>
</html>
